* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* 大盒宽度 居中 */
.box {
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

/* 顶部logo 高度55 */
.dang_top {
    height: 55px;
    background: url(../img/logo.jpg) no-repeat left center;
    background-size: contain;
    position: relative;
}

/* 唯品会菜单 定位在右下角  */

.dang_top ul {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #EAFFFA;
    border: 1px solid #C8ECE3;
    border-bottom: none;

}

.dang_top ul li {
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
}

.dang_top ul li a {
    font-size: 12px;
    color: #7b7b7b;
}



.icon1 {
    background: url(../img/icon_count.png) no-repeat;
    width: 45px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 10px;
}

.dang_nav {
    height: 40px;
    background-color: #FE6915;
    line-height: 40px;
    margin-top: 10px;
    border: 1px solid #FE4402;
}

.dang_nav ul li {
    float: left;
    margin: 0 12px;
}

.dang_nav a {
    color: white;
}

.dang_bang {
    background: url(../img/banner.png) no-repeat;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    border: 1px solid #CDE9AD;
}

.dang_list {
    height: 300px;
    border: 2px solid #CDE9AD;
    margin-top: 10px;
    position: relative;
    padding-top: 80px;
}

.list_img {
    position: absolute;
    top: 10px;
    left: -14px;
    background: url(../img/bg_bang.gif) no-repeat;
    width: 240px;
    height: 39px;

}

.list_left div:first-of-type {
    background: url(../img/book-01.jpg);
    width: 260px;
    height: 260px;
    position: relative;
    float: left;
}

.list_left img {
    position: absolute;
    left: 30px;
    top: -10px;
}

.left_main {
    float: right;
    width: 200px;
}

.list_left {
    width: 480px;
    float: left;
}

.left_main h3 {
    font-weight: 400;
    color: #1865B2;
    margin-bottom: 5px;
}

.left_main p {
    font-size: 14px;
    margin-bottom: 5px;
}

.red {
    color: #940035;
}

.first_left {
    background: url(../img/book-02.jpg) no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;

}

.first_left img {
    position: absolute;
    top: -10px;
}

.list_right {
    float: right;
    width: 460px;
}

.first_right h3 {
    color: #1865B2;
    font-weight: 500;
    margin-bottom: 5px;
}

.first_right {
    float: left;
    width: 350px;
}

.first_right p {
    margin-bottom: 5px;
    font-size: 14px;
}

.blue {
    color: #1865B2;
}

.first_left2 {
    background: url(../img/book-03.jpg) no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
}

.right_first {
    height: 140px;
}

.foot {
    text-align: center;
    color: #93829E;
    font-size: 14px;
}

.foot,
img {
    vertical-align: middle;
}