

/* 大盒子设置
    设置弹性盒子 主轴 y
*/
.box {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

.top {
    /* height: 100px; */
    background-color: purple;

}

.top .search_box {
    height: 3.375rem;
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 9;

}

.search_box>.search_option {
    width: 3.375rem;
    height: 100%;
    /* border: 1px solid blue; */
}

.icon-liebiao2 {
    color: white;
    font-size: 1.375rem;
    font-weight: 700;
}

.search_login {
    width: 3.375rem;
    height: 100%;
    /* border: 1px solid green; */
    font-size: 1.125rem;
    color: white;
}


.search_container {
    flex: 1;
    height: 2.5rem;
    background-color: #f7f7f7;
    border-radius: 1.25rem;
}

.search_container_logo {
    width: 3.125rem;
    /* border: .0625rem solid blue; */
    height: 6.25rem;

}

.search_container input {
    font-size: .875rem;
    border: none;
    outline: none;
    background-color: #f7f7f7;
}

.search_container_fangdajing {
    width: 2.5rem;
    border-left: 1px solid #C6c7c6;
}

.icon-jingdong {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EA4A4C;
}

.swiper {
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.classify {
    flex-wrap: wrap;
    margin-top: .625rem;
}

.classify>div {
    width: 4.375rem;
    height: 5rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: .625rem;
}

.classify p {
    font-size: .875rem;
}

.classify img {
    width: 3.75rem;
    margin-bottom: .3125rem;
}


/* 中间商品列表 middle 自动伸长 */
.middle {
    background-color: #fff;
    flex: 1;

}

.middle .productlist {
    overflow: hidden;
    column-count: 2;
}

.middle .productlist>.product_item {
    box-sizing: border-box;
    width: 98%;
}

.middle .product_item .img {
    width: 100%;
    text-align: center;
}

.middle .product_item .img img {
    width: 90%;
}

.middle .product_item .content {
    padding: 0 .75rem;
}

.middle .product_item .content .title {
    font-size: 1.25rem;
    color: #505050;
    font-weight: 700;
    margin: 1.125rem 0;
}

.middle .product_item .content .price {
    font-size: .5625rem;
    color: #EA4A4C;

}

.middle .product_item .content .price span {
    font-size: 1.125rem;
}

.middle .product_item .content .desc {
    padding: 1.25rem 0rem .9375rem 0;
    font-size: .75rem;
    color: #b4b8bb;
}

.middle .product_item .content .simple {
    background-color: #F2F2F2;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    width: 3.75rem;
    border-radius: .75rem;
}




.top_bottom {
    /* height: 23.5625rem; */
    background-color: #f7f7f7;
    padding: 0 1.125rem;
}

.bottom {
    height: 3.75rem;
    background-color: pink;
}
